In [2]:
import pandas as pd
import numpy as np

In [3]:
# read data
data1 = pd.read_csv("./drive/MyDrive/LPOINT_BIG_COMP_01_DEMO.csv")   # cust 고객번호 ma_fem_dv 성별 ages 나이 zon_hlv 거주지코드
data2 = pd.read_csv("./drive/MyDrive/LPOINT_BIG_COMP_02_PDDE.csv")   # cust 고객번호 rct_no 영수증번호 chnl_dv 채널구분 cop_c 제휴사코드 br_c 점포코드 pd_c 상품코드 de_dt 거래일 de_hr 거래시간 buy_am 구매가격 buy_ct 구매개수
data4 = pd.read_csv("./drive/MyDrive/LPOINT_BIG_COMP_04_PD_CLAC.csv")# pd_c 상품번호 pd_nm 상품명 clac_hlv_nm 카테고리 clac_mcls_nm 세부카테고리 
data5 = pd.read_csv("./drive/MyDrive/LPOINT_BIG_COMP_05_BR.csv")     # br_c 점포번호 cop_c 제휴사 코드 zon_hlv 카테고리 zon_mcls 세부카테고리
data6 = pd.read_csv("./drive/MyDrive/LPOINT_BIG_COMP_06_LPAY.csv")   # rct_no 영수증 번호 cop_c 제휴사코드 chnl_dv 채널구분 de_dt 구매일 de_hr 구매시간 buy_am 결제금액
data7 = pd.read_csv("./drive/MyDrive/총조사인구_성_연령별__20220808171442.csv", encoding='cp949')  # https://gsis.kwdi.re.kr/statHtml/statHtml.do?orgId=338&tblId=DT_1IN0503

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
data7

       연령별      2020    2020.1    2020.2  2020.3
0      연령별    전체 (명)    여자 (명)    남자 (명)  성비 (%)
1        계  50133493  25160905  24972588    99.3
2     0~4세   1684917    820641    864276   105.3
3     5~9세   2238916   1090668   1148248   105.3
4   10~14세   2252113   1091015   1161098   106.4
5   15~19세   2422002   1163117   1258885   108.2
6   20~24세   3193316   1522680   1670636   109.7
7   25~29세   3423231   1609335   1813896   112.7
8   30~34세   3032832   1452932   1579900   108.7
9   35~39세   3594213   1752500   1841713   105.1
10  40~44세   3758298   1848780   1909518   103.3
11  45~49세   4195327   2071716   2123611   102.5
12  50~54세   4245683   2115658   2130025   100.7
13  55~59세   4091920   2040699   2051221   100.5
14  60~64세   3795217   1925858   1869359    97.1
15  65~69세   2685773   1393852   1291921    92.7
16  70~74세   2009542   1070632    938910    87.7
17  75~79세   1593192    911426    681766    74.8
18  80~84세   1115804    698050    417754    59.8
19   85세이상    801197    581346    219851    37.8
20  85~89세    562068    393887    168181    42.7
21  90~94세    192149    149324     42825    28.7
22  95~99세     41399     33404      7995    23.9
23  100세이상      5581      4731       850    18.0
24   15세미만   6175946   3002324   3173622   105.7
25  15~64세  35752039  17503275  18248764   104.3
26   65세이상   8205508   4655306   3550202    76.3
27    평균연령        43        44        42       -
28   연령중위수        44        46        43       -

* p_ages_ma_fem = \[ P(20대 남자), P(30대 남자), ......, P(60대 여자), P(70대 여자) \]

In [5]:
num_ages_ma_fem = np.array([3484532, 3421613, 4033129, 4181246, 3161280, 1620676, 3132015, 3205432, 3920496, 4156357, 3319710, 1982058])
p_ages_ma_fem = num_ages_ma_fem/50133493

In [7]:
# 엘페이이용_통합
buy_data3 = pd.merge(data6, data1, on='cust', how='left')

In [8]:
# 상품구매정보_통합(data2)
buy_data2 = pd.merge(data2, data1, on='cust', how='left')
buy_data2 = pd.merge(buy_data2, data4, on='pd_c', how='left')
buy_data2 = pd.merge(buy_data2, data5, on='br_c', how='left')

In [9]:
# 남성 여성 // 20대 ~ 70대

* Lpay_p_lst = \[ P(20대 남자 | Lpay이용자), P(30대 남자 | Lpay이용자), ............  , P(60대 여자 | Lpay이용자), P(70대 여자 | Lpay이용자) \]      
     
* 이때 bayesian rule을 이용하여 P(Lpay이용자 | 20대 남자), P(Lpay이용자 | 30대 남자)....... 를 계산함.       
 P(Lpay이용자)는 전부 동일하므로 P(20대 남자 | Lpay이용자)/P(20대 남자), P(30대 남자 | Lpay이용자)/P(30대 남자)...... 만 계산.

In [10]:
#20대 남성
male20_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='남성') & (buy_data3['ages']=='20대')]
#30대 남성
male30_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='남성') & (buy_data3['ages']=='30대')]
#40대 남성
male40_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='남성') & (buy_data3['ages']=='40대')]
#50대 남성
male50_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='남성') & (buy_data3['ages']=='50대')]
#60대 남성
male60_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='남성') & (buy_data3['ages']=='60대')]
#70대 남성
male70_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='남성') & (buy_data3['ages']=='70대')]

#20대 여성
female20_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='여성') & (buy_data3['ages']=='20대')]
#30대 여성
female30_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='여성') & (buy_data3['ages']=='30대')]
#40대 여성
female40_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='여성') & (buy_data3['ages']=='40대')]
#50대 여성
female50_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='여성') & (buy_data3['ages']=='50대')]
#60대 여성
female60_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='여성') & (buy_data3['ages']=='60대')]
#70대 여성
female70_Lpay = buy_data3[(buy_data3['ma_fem_dv']=='여성') & (buy_data3['ages']=='70대')]
name_lst = ['20대 남자', '30대 남자', '40대 남자', '50대 남자', '60대 남자', '70대 남자', '20대 여자', '30대 여자', '40대 여자', '50대 여자', '60대 여자', '70대 여자']
num_lst = np.array([len(male20_Lpay), len(male30_Lpay), len(male40_Lpay), len(male50_Lpay), len(male60_Lpay), len(male70_Lpay), len(female20_Lpay), len(female30_Lpay), len(female40_Lpay), len(female50_Lpay), len(female60_Lpay), len(female70_Lpay)])
Lpay_p_lst = num_lst/sum(num_lst)
Lpay_posterior_lst = num_lst/p_ages_ma_fem
Lpay_posterior_lst = Lpay_posterior_lst / np.sum(Lpay_posterior_lst)

* 각 연령,성별 별로 제품 구입 빈도를 바탕으로 각 제품 구입 확률 계산. 
* 구입횟수가 5회 이하인 제품은 목록에서 제외
* buy_p_lst = \[ 20대 남자 특정 물품 구입확률, 30대 남자 특정 물품 구입 확률, ....., 60대 여자 특정 물품 구입확률, 70대 여자 특정 물품 구입확률 \]

In [11]:
#20대 남성
male20_buy = buy_data2[(buy_data2['ma_fem_dv']=='남성') & (buy_data2['ages']=='20대')]
#30대 남성
male30_buy = buy_data2[(buy_data2['ma_fem_dv']=='남성') & (buy_data2['ages']=='30대')]
#40대 남성
male40_buy = buy_data2[(buy_data2['ma_fem_dv']=='남성') & (buy_data2['ages']=='40대')]
#50대 남성
male50_buy = buy_data2[(buy_data2['ma_fem_dv']=='남성') & (buy_data2['ages']=='50대')]
#60대 남성
male60_buy = buy_data2[(buy_data2['ma_fem_dv']=='남성') & (buy_data2['ages']=='60대')]
#70대 남성
male70_buy = buy_data2[(buy_data2['ma_fem_dv']=='남성') & (buy_data2['ages']=='70대')]

#20대 여성
female20_buy = buy_data2[(buy_data2['ma_fem_dv']=='여성') & (buy_data2['ages']=='20대')]
#30대 여성
female30_buy = buy_data2[(buy_data2['ma_fem_dv']=='여성') & (buy_data2['ages']=='30대')]
#40대 여성
female40_buy = buy_data2[(buy_data2['ma_fem_dv']=='여성') & (buy_data2['ages']=='40대')]
#50대 여성
female50_buy = buy_data2[(buy_data2['ma_fem_dv']=='여성') & (buy_data2['ages']=='50대')]
#60대 여성
female60_buy = buy_data2[(buy_data2['ma_fem_dv']=='여성') & (buy_data2['ages']=='60대')]
#70대 여성
female70_buy = buy_data2[(buy_data2['ma_fem_dv']=='여성') & (buy_data2['ages']=='70대')]

buy_lst = [male20_buy, male30_buy, male40_buy, male50_buy, male60_buy, male70_buy, female20_buy, female30_buy, female40_buy, female50_buy, female60_buy, female70_buy]
buy_cnt_lst = []
for buy_items in buy_lst:
    indexx = buy_items.groupby('pd_c').size() > 5
    buy_cnt_lst.append(buy_items.groupby('pd_c').size()[indexx])

buy_p_lst = []
for buy_cnts in buy_cnt_lst:
    buy_p_lst.append(buy_cnts/buy_cnts.sum())

* 각 성별 연령별 Lpay사용 확률을 기반으로 np.random.choice를 이용하여 특성 성별,연령층 선택.    
* 특정 성별, 연령층에 대해서 특정 제품을 구입한 빈도를 바당으로 np.random.choice를 이용하여 많이 구매한 물품 선택.

In [12]:
def recommand_product(Lpay_posterior_lst, buy_p_lst, name_lst):
    customer_base_idx = np.random.choice(range(len(Lpay_posterior_lst)), p = Lpay_posterior_lst)
    customer_base = name_lst[customer_base_idx]
    product_code_lst = buy_p_lst[customer_base_idx].index
    product_p_lst = buy_p_lst[customer_base_idx].values
    product = np.random.choice(product_code_lst, p=product_p_lst)
    print(f'선택된 고객층: {customer_base}, 선택된 상품: {product}')
    return customer_base, product

* recommand_product 함수를 여러번 호출하여 광고에 사용할 물품 선택

In [13]:
for i in range(10):
    recommand_product(Lpay_p_lst, buy_p_lst, name_lst)

선택된 고객층: 30대 남자, 선택된 상품: PD0171
선택된 고객층: 40대 여자, 선택된 상품: PD0178
선택된 고객층: 30대 여자, 선택된 상품: PD1156
선택된 고객층: 50대 남자, 선택된 상품: PD1182
선택된 고객층: 50대 여자, 선택된 상품: PD1352
선택된 고객층: 30대 여자, 선택된 상품: PD1387
선택된 고객층: 40대 여자, 선택된 상품: PD0480
선택된 고객층: 40대 남자, 선택된 상품: PD1314
선택된 고객층: 30대 여자, 선택된 상품: PD1155
선택된 고객층: 30대 여자, 선택된 상품: PD1154